<section ng-repeat="section in sections" id="{{section.id}}" class="admin" ng-style="section.style" ng-controller="AdminSectionController" >
  <div class="articleWrapper" ng-repeat="article in articles" ng-controller="AdminArticleController">
    <article  
      id="{{article.id}}" 
      ng-style="article.style"
      ng-class="article.class"
      ng-include="article.partialUrl" >
    </article>
    <div class="articleToolbox"
      ng-style="deriveStyle(article.style)" >
      <div class="backdrop" draggable="true" snap-drag="moveOnDrag(article, $event, deltaX, deltaY)" ></div>
      <img id="edit" src="img/admin_file_edit.png" title="Edit this article" ></img>
      <img id="delete" src="img/admin_file_delete.png" ng-click="deleteArticle(articles, article, 'Weet u zeker dat u dit artikel wilt verwijderen?')" title="Delete this article" ></img>
      <img id="resize" src="img/admin_resize.png" title="Drag me to resize the article" snap-drag="resizeOnDrag(article, $event)" ></img>
    </div>
  </div>
  <div class="sectionToolBox">
    <img id="warn" src="img/admin_warning.png" ng-hide="hasIncomingLink()" title="There is no reference to this section" ></img>
    <img id="delete" ng-hide="$index == 0" src="img/admin_folder_delete.png" title="Delete this section" ng-click="deleteSection(sections, section, 'Weet u zeker dat u deze sectie en artikelen wilt verrwijderen?')" ></img>
    <img id="done" ng-show="changeList.length > 0" src="img/admin_done.png" title="Save the changes" ng-click="saveChanges()"/>
    <!-- img id="cancel" ng-show="changeList.length > 0" src="img/admin_stop.png" title="Discard the changes" ng-click="discardChanges()"/ -->
    <!-- add article -->
  </div>
</section>
<!-- add section -->