<div class="container slider" ng-controller="GalleryController">
  <img ng-repeat="work in works" 
    class="slide" 
    ng-swipe-right="showPrev()" 
    ng-swipe-left="showNext()" 
    ng-show="isActive($index)" 
    ng-src="data/v2.0/works/{{work.file}}" />

  <!-- prev / next controls -->
  <a class="arrow prev" ng-click="showPrev()"></a>
  <a class="arrow next" ng-click="showNext()"></a>

  <!-- extra navigation controls -->
  <ul class="nav">
    <li ng-repeat="work in works" ng-class="{'active':isActive($index)}">
      <img ng-src="data/v2.0/works/{{work.file}}" alt="{{work.description}}" title="{{work.description}}" ng-click="showWork($index);" />
    </li>
  </ul>
</div>
